doctype html 
html 
  head 
   title Hatim's Dance Academy
   block scripts  
   block style
  body 
    nav#navbar 
            ul
                div#logo
                    img(src="../static/img/logo.png", alt="")
                    |HAD 
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/ClassInfo") Class Info]
                li #[a(href="/contact") Contact Us]
    block content 
    footer#footer 
           | copyright © 2021 Hatim'sDanceAcademy.com | All rights reserved

    