@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fuzzy+Bubbles&display=swap');
#form{
   
    background-color: #ffcdce;
    margin: 0px;
    text-align: center;
    justify-content: center;
    height: 700px;
    display: flex;
    flex-direction: column;}

#form h1{
    margin: 0px 1px;
    padding: 51px 1px;
    font-family: 'Fredoka One', cursive;

}
.myform{
    display: flex;
    flex-direction: column;
}
.myform input{
   
    padding: 10px;
    margin: 10px auto;
    width: 40%;
    border: 2px solid brown;

}
.btn{
    padding: 6px;
    width: 6%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #631616;
    color: white;
}